@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
	box-sizing: border-box;
	transition: .2s;
	padding: 0;
	margin: 0;
}

.to-weak,
.weak,
.medium,
.strong {
	border: none !important;
}

.to-weak {
	background: #F64A4A;
}

.weak {
	background: #FB7C58;
}

.medium {
	background: #F8CD65;
}

.strong {
	background: #A4FFAF;
}

input {
	cursor: pointer;
}

img:hover {
	opacity: .7;
}

.main-wrapper {
	background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
	justify-items: center;
	align-items: center;
	min-height: 100vh;
	color: #E6E5EA;
	display: flex;
	padding: 63px 16px;
}

.wrapper {
	width: 100%;
	max-width: 540px;
	display: flex;
	margin: auto;
	flex-direction: column;
	gap: 16px;
}

.wrapper-heading {
	color: #817D92;
	text-align: center;
	font-family: "JetBrains Mono", monospace;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.wrapper-head {
	background: #24232C;
	display: flex;
	padding: 16px;
	justify-content: space-between;
	align-items: center;

	.wrapper-head-password {
		color: #E6E5EA;
		font-family: "JetBrains Mono", monospace;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

.wrapper-body {
	background: #24232C;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 32px;

	.wrapper-password-length {
		display: flex;
		flex-direction: column;
		gap: 13px;

		.wrapper-password-length-text {
			display: flex;
			justify-content: space-between;

			.wrapper-password-length-text-left {
				color: #E6E5EA;
				font-family: "JetBrains Mono", monospace;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.wrapper-password-length-text-right {
				color: #A4FFAF;
				font-family: "JetBrains Mono", monospace;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}

		.length-input {
			height: 15px;
			background-color: transparent;
			position: relative;

			&:hover {
				opacity: .7;
			}

			#length-input-right-track {
				position: absolute;
				background: #A4FFAF;
				left: 0;
				transform: translateY(-100%);
				height: 8px;
				top: 7px;
				z-index: 1;
				max-width: 100%;
			}

			#length-input-left-track {
				position: absolute;
				left: 0;
				transform: translateY(-100%);
				height: 8px;
				width: 100%;
				background: #18171F;
				top: 7px;
			}

			input {
				appearance: none;
				height: 8px;
				width: 100%;
				background: transparent;
				position: absolute;
				top: 0;
				z-index: 2;

				&::-webkit-slider-thumb {
					appearance: none;
					width: 28px;
					height: 28px;
					cursor: pointer;
					background: #18171F;
					border-radius: 50%;
					border: 2px solid #A4FFAF;
				}

				&::-moz-range-thumb {
					width: 28px;
					height: 28px;
					cursor: pointer;
					background: #18171F;
					border-radius: 50%;
					border: 2px solid #A4FFAF;
				}
			}


		}
	}

	.wrapper-password-check {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.wrapper-password-check-label {
			display: flex;
			gap: 20px;
			align-items: center;
			cursor: pointer;

			&:hover {
				opacity: .7;

				.custom-checkbox {
					border-color: #A4FFAF;
				}
			}

			small {
				color: #E6E5EA;
				font-family: "JetBrains Mono", monospace;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			input {
				display: none;
			}

			.custom-checkbox {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 20px;
				height: 20px;
				border: 2px solid #E6E5EA;
				background-color: #24232C;
				cursor: pointer;
				position: relative;

				img {
					display: none;
				}
			}


			input:checked+.custom-checkbox {
				background-color: #A4FFAF;
				border-color: #A4FFAF;

				img {
					display: block;
				}
			}
		}
	}

	.wrapper-password-strength {
		background: #18171F;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;

		.wrapper-password-strength-text {
			text-transform: uppercase;
			color: #817D92;
			text-align: center;
			font-family: "JetBrains Mono", monospace;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.wrapper-password-strength-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;

			small {
				text-transform: uppercase;
				color: #E6E5EA;
				text-align: right;
				font-family: "JetBrains Mono", monospace;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.wrapper-password-strength-rectangle-wrapper {
				display: flex;
				gap: 8px;
			}
		}



		.wrapper-password-strength-rectangle {
			width: 10px;
			height: 28px;
			border: 2px solid #E6E5EA;
		}
	}

	.wrapper-password-button {
		background: #A4FFAF;
		height: 56px;
		width: 100%;
		padding: 17px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		cursor: pointer;

		&:hover {
			opacity: .7;
		}

		small {
			text-transform: uppercase;
			color: #24232C;
			text-align: center;
			font-family: "JetBrains Mono", monospace;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
}